*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    margin-bottom: 28px;
}

.main_header_container{
    width: 100%;
    height: 72px;
    background-color: #f9f7fd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 5;
}

.header_container{
    width: 100%;
}

.center_header img{
    width: 220px;
}

.center_header{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}

.categories{
    padding: 10px 16px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-radius: 88px;
    box-shadow: rgba(0, 0, 0, 0.06) 1px 2px 8.5px 0px;
    position: relative;
}

.categories button{
    border: none;
    background-color: transparent;
}

.drop_dawn_categories{
    position: absolute;
    overflow: hidden;
    list-style: none;
    z-index: 4;
    width: 240px;
    padding: 0;
    max-height: 0;
    left: -32px;
    transition: 0.3s;
}

.drop_dawn_categories ul{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 240px;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.hidden_div{
    background-color: transparent;
    height: 24px;
}

.drop_dawn_categories li{
    height: 60px;
    display: flex;
    line-height: 16px;
    font-size: 16px;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    font-weight: 400;
    text-align: right;
}

.cart{
    position: relative;
}

.drop_dawn_cart>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
}

.drop_dawn_cart>div p{
    text-align: center;
}

.paragraph_cart{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    padding: 0px 20px;
}

.drop_dawn_cart div div{
    display: flex;
    align-items: center;
}

.drop_dawn_cart div div img{
    width: 114px;
    height: 117px;
}

.drop_dawn_cart button{
    background-color: #7f56d9;
    margin-top: 36px;
    border: none;
    align-items: center;
    cursor: pointer;
    border-radius: 22px;
    min-height: 38px;
    width: 100%;
    color: #fff;
}

.drop_dawn_cart{
    position: absolute;
    overflow: hidden;
    z-index: 4;
    top: 57px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 0px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 2px 4px 16px 0px;
    border-radius: 20px;
    transition: 0.3s;
}

.hidden_cart_div{
    background-color: transparent;
    position: absolute;
    height: 20px;
    width: 155px;
}

.cart:hover .drop_dawn_cart{
    padding: 20px 16px 16px;
    height: 320px;
}

.drop_dawn_categories li:hover{
    cursor: pointer;
    background-color: #f3ebf9;
}

.drop_dawn_categories li img{
    width: 33px;
    height: 35px;
}

.categories:hover .drop_dawn_categories, .drop_dawn_categories:hover{
    overflow: scroll;
    max-height: 700px;
}

.categories:hover, .sign_in_container:hover, .language_container:hover, .cartfav:hover{
    box-shadow: 1px 2px 8.5px 0px #8d6cd5;
}

.cartfav{
    border-radius: 50%;
}

.search_container img{
    width: 32px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    gap: 16px;
}

.search_container input{
    width: 374px;
    border-radius: 150px;
    border: none;
    padding: 13px 45px 13px 16px;
    outline: none;
}

.search_container{
    position: relative;
    display: inline-block;
}

.two_image_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.two_image_container img{
    width: 40px;
    cursor: pointer;
    margin: 5px;
}

.sign_in_container{
    width: 120px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 88px;
    box-shadow: rgba(0, 0, 0, 0.06) 1px 2px 8.5px 10px;
}

.language_container{
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.06) 1px 2px 8.5px 10px;
}

.drop_dawn_GE{
    position: relative;
}

.drop_dawn_EN{
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 48px;
    left: -15px;
    height: 34px;
    width: 80px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
}

.drop_dawn_EN strong{
    font-weight: 400;
    font-size: 14px;
}

.drop_dawn_GE:hover .drop_dawn_EN{
    opacity: 1;
}

.hidden_GE_div{
    position: absolute;
    background-color: transparent;
    left: -8px;
    height: 25px;
    width: 40px;
}

/* bottom header */

.bottom_header{
    padding-block: 8px;
    border-bottom: 1px solid #dcdcdc99;
    border-top: 1px solid #dcdcdc99;
    margin: 72px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_center_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
}
.left_bottom_container{
    display: flex;
    align-items: center;
}

.left_bottom_container strong{
    font-size: 12px;
    display: flex;
    gap: 10px;
}

.left_bottom_container strong li{
    width: 10px;
    height: 10px;
}

.right_bottom_container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.right_bottom_container div{
    color: #151515b3;
    cursor: pointer;
}

/* main */

.main_div_container{
    width: 79%;
    margin: 0 auto;
    box-sizing: border-box;
}

.page{
    border-radius: 50%;
    height: 12px !important;
    width: 12px !important;
    background-color:  #7f56d9 !important;
}

.carousel_container_ad{
    margin: 0 auto 32px !important;
}

.carousel-inner {
    border-radius: 22px;
}

.bottom_ad_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ad2{
    display: flex;
    justify-content: end;
}

.ad img{
    width: 95%;
    height: 50%;
    border-radius: 10px;
    transition: 0.8s ease;
}

.ad img:hover{
    transform: scale(1.015);
    cursor: pointer;
}

/* categories */

.alta_categories{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 56px;
    max-width: 100%;
}

.alta_categories h4{
    color: #181d27;
    font-family: helveticaNeue, helveticaNeue Fallback !important;
    margin-bottom: 20px;
}

.top_categories, .bottom_categories{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.bottom_categories{
    margin-top: 20px;
}

.categories_container img{
    width: 88px;
    height: 88px;
}

.categories_container a{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #f2eefb;
    width: 218px;
    height: 110px;
    padding: 20px;
    border-radius: 17px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.categories_container:hover{
    transform: scale(1.015);
    cursor: pointer;
}

.categories_container p{
    line-height: 17px;
    font-weight: 500;
    color: #000;
    font-size: 14px;
}

/* online items and presents */

.only_online{
    margin-bottom: 56px;
}

.online_items{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.real_price{
    color: #959595;
}

.card{
    width: 215px !important;
    border-radius: 20px !important;
    border: 1px solid #dcdcdc99 !important;
    height: 350px !important;
    padding: 12px !important;
    box-sizing: border-box !important;
}

.bottom_title{
    padding-bottom: 24px;
}


.card-title{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    font-weight: 500;
}

.card-text{
    height: 22px;
    line-height: 14px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

.card img{
    width: 100%;
    height: 190px;
}

.card-body{
    height: 124px;
    padding: 0 !important;
}

.card-body button{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    border-radius: 40px;
    background-color: #7f56d9 !important;
}

.sale{
    width: 35px !important;
    height: 35px !important;
    position: absolute;

}

.bottom_button{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.btn-primary{
    background-color: #7f56d9 !important;
    border: none !important;
}

.left_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #d4d4d467;
    width: 48px !important;
    height: 36px;
    transition: 0.5s ease-in-out;
}

.left_cart i{
    font-size: 12px;
}

.left_cart:hover{
    cursor: pointer;
    box-shadow: #00000025 1px 2px 8.5px 0px;
    transition: 0.5s ease-in-out;
}

.bottom_button button:hover{
    cursor: pointer;
    box-shadow: #00000049 1px 2px 8.5px 0px;
    transition: 0.5s ease-in-out;
}

.card-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.price{
    margin: 4px 0px 18px;
}

.real_price img{
    position: absolute;
    width: 40px;
    bottom: -8px;
}

.right_btn{
    position: absolute;
    top: 20px;
    right: 10px;
}

.right_btn div{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
}

.right_btn div i{
    color: #909090;
}

.right_btn div:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.06) 1px 2px 8.5px 0px;
}


/* bottom ad categories */

.ad_bottom_categories{
    margin-bottom: 56px;
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
}

.ad_bottom_categories img{
    width: 100%;
    border-radius: 10px;
}

.ad_bottom_categories:hover{
    transform: scale(1.015);
    cursor: pointer;
}

.right_fix{
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 50px;
}

.right_fix div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #7f56d9;
    transition: 0.5s ease-in-out
}

.right_fix div i {
    color: #fff;
    font-size: 30px;
}

.right_fix div:hover{
    transform: scale(1.015);
    cursor: pointer;
}

/* coffee */

.kitchen_img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.cofe div img{
    width: 100%;
    height: 385px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    background: rgba(0, 0, 0);
}

.juce div img, .blender div img{
    width: 100%;
    height: 182px;
    border-radius: 12px;
    transition:  0.3s ease-in-out;
    background: rgba(0, 0, 0);
}


.juce div img:hover, .blender div img:hover, .cofe div img:hover{
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.juce, .blender{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.kitchen h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 24px;
}

.kitchen{
    margin-bottom: 56px;
}

/* all brends */

.all_brends h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 24px;
}

.brends{
    margin-right: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 56px;
}

.brends_list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.brands_logo{
    position: absolute;
}

.brends div img{
    width: 60%;
    position: relative;
}

.brends div{
    width: 78px;
    height: 78px;
    border: 3px solid #7f56d9;
    border-radius: 0 50% 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brends_p{
    position: static;
    text-align: center;
    color: #181d27;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 90px;
}

/* gamers */

.main_gamers{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 56px;
}

.gamers_botoom_container{
    display: flex;
    margin-top: 20px;
}

.main_gamers img{
    border-radius: 12px;
    width: 375px;
}

.gamers_botoom_container{
    display: flex;
    gap: 20px;
}

.gamers_botoom_container img{
    width: 178px;
}

/* alta recommend */

.recomended_img{
    width: 100% !important;
    height: 189px !important;
    display: flex;
    align-items: center;
}

.recomended_img img{
    height: fit-content;
}

.recomended_img2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomended_img2 img{
    height: 189px;
    width: 60px;
}

/* four image */


.four_images_container{
    margin-bottom: 56px;
    width: 100%;
}

.four_images{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.bottom_mages{
    margin-top: 20px;
}

.four_images div img{
    box-sizing: border-box;
    width: 568px;
    height: 137px;
    border-radius: 10px;
    transition: 0.5s ease-in-out
}

.four_images div img:hover{
    transform: scale(1.015);
    cursor: pointer;
}


/* blogs */

.main_blog{
    width: 100%;
    margin-bottom: 56px;
}

.blog_title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.blog_container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.blog_contnet {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 22px;
}

.blog_contnet img{
    height: 178px;
    border-radius: 18px;
}

.blog_contnet b {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}

.last_blog{
    margin-right: 0 !important;
}

/* footer */


footer{
    padding: 20px 0;
    width: 100%;
    border-top: 1px solid #dcdcdc99;
    background-color: #f9f7fd;
    position: absolute;
    left: 0;
}

.footer_contnet{
    display: flex;
    position: relative;
    right: 110px;
    justify-content: center;
    gap: 120px;
}

.footer_contnet ul{
    list-style: none;
    font-size: 12px;
    line-height: 20px;
}

.footer_title{
    color: #7f56d9;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    font-weight: 700;
    padding-bottom: 10px;
    }

.footer_component{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    color: #00000099;
    }

.censored {
    background-color: #f9f7fd;
    border-top: 1px solid white;
    padding: 20px 0 0 0;
    margin-left: 150px;
}

.censored p{
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: #181d2799;
    margin-bottom: 0; 
}