.main_product_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.main_product_container p{
    font-size: 11px;
    color: #181d27;
}

.product_main{
    display: inline-block;
}

.product_detal_head h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #000000cc;
    margin-bottom: 22px;
}

footer{
    margin-top: 100px;
}

.product_imgs{
    width: 100%;
    display: flex;
    margin-top: 36px;
}

.product_fav{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    box-shadow: rgba(0, 0, 0, 0.06) 1px 2px 8.5px 0px;
}

.product_fav i {
    color: #909090;
}

.product_fav:hover{
    cursor: pointer;
    box-shadow: 1px 2px 8.5px 0px #8d6cd5;;
}

.left_imgs{
    display: inline-flex;
    flex-direction: column;
}

.left_imgs img{
    width: 66px;
    height: 66px;
    cursor: pointer;
}

.bordered{
    border: 1px solid #8d6cd5;
    border-radius: 8px;
}

.product_categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.center_img{
    position: relative;
}

.center_img img{
    width: 100%;
    height: 80%;
}

.prodact_nav{
    padding-bottom: 14px;
    border-bottom: 2px solid #f2f2f280;
    display: flex;
    gap: 30px;
}

.prodact_nav span{
    font-size: 16px;
    color: #181d27;
    cursor: pointer;
}

.main_span{
    color: #8d6cd5 !important;
}

.line{
    width: 85px;
    background-color: #8d6cd5;
    height: 3px;
    position: relative;
    bottom: -12px;
}

.sale{
    position: absolute;
    left: 40px;
    width: 50px !important;
    height: 50px !important;
}

.product_detal_head{
    width: 80%;
    height: 100%;
}

.product_detal{
    border: 1px solid #ebe5f8;
    background-color: #fff;
    padding: 26px 0 0 0;
    border-radius: 16px;
}

.top_detal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 24px 22px;
}

.top_detal div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.top_detal div p {
    color: #00000099;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
}

.product_price p{
    font-size: 24px;
}

.product_price{
    padding: 26px 24px 0px;
    background-color: #f7f5fc;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: 38px;
}

.price_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.price_product button{
    padding: 18px 48px;
    border-radius: 150px;
    background-color: #7f56d9;
    border: none;
    color: #fff;
    transition: 0.25s ease-in-out;
    font-size: 16px;
    text-align: center;
}

.price_product button:hover{
    transform: scale(1.015);
    cursor: pointer;
}

.bottom_button{
    border-top: 1px solid #ebe5f8;
    padding: 15px;
}

.bottom_button button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    background-color: #fff;
    border-radius: 130px;
    border: none;
    transition: 0.25s ease-in-out;
    gap: 10px;
}

.bottom_button button:hover{
    transform: scale(1.015);
    cursor: pointer;
    box-shadow: none;
}

.bottom_button i {
    color: #b3b2b2;
}


/* more detals */

.more_detals{
    margin-top: 40px;
    background-color: #f9f9f9;
    border-radius: 16px;
    padding: 24px 24px 80px;    
    height: 150px;
    overflow: hidden;
}

.detals_list_button{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#detals{
    display: none;
}

#detals:checked ~ .more_detals {
    height: 100%;
    overflow: visible;
}

#detals:checked ~ .detals_list_button label .fa-angle-down{
    rotate: 180deg;
}

.detals_list_button label::after{
    content: "იხილეთ მეტი დეტალი";
}

#detals:checked ~ .detals_list_button label::after{
    content: "იხილეთ ნაკლები დეტალი";
}

.fa-angle-down{
    transition: 0.3s ease;
}

.detals_list_button .more_button{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 292px;
    height: 44px;
    border-radius: 36px;
    cursor: pointer;
    border: 1px solid #7f56d9;
    color: #7f56d9;
    background-color: #fff;
}

.more_button{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.more_button:hover{
    box-shadow: #7f56d9 1px 2px 8.5px 0px;
}

.more_detals_list{
    display: flex;
    justify-content: space-between;
}

.more_detals h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 24px;
}

.more_detals_list h5{
    margin-bottom: 16px
}

.stats{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px 10px;
}

.stats p{
    font-size: 12px;
}

.left_stats, .center_stats, .right_stats{
    width: 30%;
}

.stats p:last-child {
    font-weight: bold;
}